.img-list {
  max-height: 158px;
}

.list-size {
  font-family: sans-serif;
  width: 90%;
  margin: auto;
}

.size-card {
  width: 120px;
  height: 215px;
}

.cards{
  background-color: #ced4da;
  border-radius: .6rem;
  display: flex;
  flex-direction: column;
  width: 170px;
  height: 285px;
}

.list-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  justify-items: center;
  grid-gap: 15px;
  padding: 15px;
}

.text-ellipsis {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}