.img-list {
  max-width: 227px;
  max-height: 192px;
}

.list-size {
  font-family: sans-serif;
  width: 90%;
  margin: auto;
}

.list-cards {
  margin: auto;
  content: "";
  display: table;
  clear: both;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.column {
  float: left;
  width: 19%;
}

@media screen and (min-width: 1151px) {
  .column {
    width: 19%;
    display: block;
  }
}

@media screen and (min-width: 951px) and (max-width: 1150px) {
  .column {
    width: 25%;
    display: block;
  }
}

@media screen and (min-width: 600px) and (max-width: 950px) {
  .column {
    width: 33%;
    display: block;
  }
}

@media screen and (min-width: 490px) and (max-width: 600px) {
  .column {
    width: 50%;
    display: block;
  }
}

@media screen and (max-width: 490px) {
  .column {
    width: 100%;
    display: block;
  }
}
