<app-bread-crumb [items]="[{text: 'Criadores'}]">
</app-bread-crumb>

<div style="padding-bottom: 60px;">
    <div class="list-size">
        <div class="list-cards">
            <div *ngFor="let creator of creators" class="cards">

                <img class="card-img-top img-list" [src]="creator.imageUrl" alt="{{creator.fullName}}">
                <div class="card-body text-ellipsis">
                    <p class="card-text">{{creator.fullName}}</p>
                </div>
                <a class="btn btn-dark" (click)="goToDetails(creator.id)">detalhes</a>
            </div>
        </div>
    </div>

    <div class="pagination item-center">
        <button class="btn btn-dark" (click)="goToLastPage()"> &lt; </button>
        <span class="span-pagination">Página {{pageNumber}} de {{pageTotalNumber}}</span>
        <button class="btn btn-dark" (click)="goToNextPage()"> &gt; </button>
    </div>
</div>