<footer class="page-footer footer font-small bg-dark">
    <div class="container d-flex justify-content-between">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-2 text-white">
           Angular app - Marvel
        </div>
        <div class="footer-copyright text-center py-2 text-white">
            © {{currentYear}} Copyright : Jean
        </div>
        <div class="footer-copyright text-center py-2 text-white">
            <a href="https://www.linkedin.com/in/jean-dinelli-723068b6/" target="_blank">
                LinkedIn
            </a>
            <i class="fa fa-linkedin"></i>
        </div>
    </div>
</footer>
