.footer {
  width: 100%;
  background-color: #cfcfcf;
  color: black;
  position: fixed;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  bottom: 0;
  font-size: 9pt;
}
